<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <script src="/controllers/app.js"></script>
    <script src="/controllers/todoCtrl.js"></script>
    <script src="/controllers/todoDetailCtrl.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/todos.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="todo in todos | filter: search">
          <input ng-show="!editing[$index]" type="checkbox" ng-model="todo.completed" ng-change="update($index)">
          <a ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>
          <!-- display -->
          <span ng-show="!editing[$index]">{{todo.Due}}</span>
          <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
          <button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>
          <input ng-show="editing[$index]" type="text" ng-model="todo.name">
          <!-- text box due date -->
          <input ng-show="editing[$index]" type="text" ng-model="todo.Due">
          <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
          <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
        </li>
      </ul>
      New task <input type="text" ng-model="newTodo"><button ng-click="save()">Create</button>
    </script>

    <script type="text/ng-template" id="/todoDetails.html">
      <h1>{{ todo.name }}</h1>
      completed: <input type="checkbox" ng-model="todo.completed"><br>
      note: <textarea ng-model="todo.note"></textarea><br><br>

      <button ng-click="update()">Update</button>
      <button ng-click="remove()">Remove</button>
      <a href="/">Cancel</a>
    </script>
  </body>
</html>
